body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.navbar-brand img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navbar */
.navbar {
  background: linear-gradient(to right, #3887be, #38419d);
  box-shadow: 0 2px 4px rgba(255, 1, 234, 0.1);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  color: #bbe2ec;
}

/* Main Content */
main {
  padding: 20px;
}

.room-type {
  margin-bottom: 30px;
  background-color: #fdf5e6;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(184, 9, 172, 0.1);
  padding: 20px;
}

.room-type h3 {
  color: #7752fe;
  font-weight: bold;
  margin-bottom: 20px;
}

.media-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.media-content img,
.media-content video {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.media-content img {
  transition: transform 0.3s ease-in-out;
}

.media-content img:hover {
  transform: scale(1.05);
}

.btn-primary {
  background: linear-gradient(to right, #387adf, #50c4ed);
  border-color: #7752fe;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background: linear-gradient(to right, #3887be, #38419d);
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 55, 193, 0.5);
}

/* Jumbotron */
.jumbotron {
  background: linear-gradient(to right, #40a2e3, #bbe2ec);
  color: #fff;
  text-align: center;
}

/* Tentang Kami Section */
.container {
  padding: 20px;
}

/* Data Pemesanan Section */
#data-pemesanan h2 {
  color: #7752fe;
  text-align: center;
}

.table thead th {
  background-color: #40a2e3;
  color: #bbe2ec;
  border-color: #dee2e6;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f9fbe7;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9fbe7;
}

.table-hover tbody tr:hover {
  background-color: #e6ee9c;
}

.table-striped tbody tr:hover {
  background-color: #e6ee9c;
}
